<footer class="d-none d-lg-block mt-5 py-5 bg-dark">
	<div class="container">
		<div class="row align-items-center">
			<!-- Логотип слева -->
			<div class="col-2">
				<a href="{{ `` | absURL }}" class="d-inline-block">
					<img src="{{ `images/logoheader.webp` | absURL }}"
					     alt="{{ .Site.Title }}"
					     width="161" height="62"/>
				</a>
			</div>
			<!-- Меню справа -->
			<div class="col-10">
				<ul class="nav justify-content-end">
					{{ range .Site.Menus.main }}
					<li class="nav-item">
						<a href="{{ .URL | absURL }}" class="nav-link px-2 text-white">{{ .Name }}</a>
					</li>
					{{ end }}
					{{ range .Site.Menus.footer }}
					<li class="nav-item">
						<a href="{{ .URL | absURL }}" class="nav-link px-2 text-white">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Не знаю заечем, Удалил, но тут оставил врдруг понадобиться -->
{{ $jquery := resources.Get "js/jquery-3.7.1.min.js" }}
<!-- Для слайда сотрудники компании -->
{{ $owlcarousel := resources.Get "js/owlcarousel/owl.carousel.min.js" }}
<!-- Bootstrap core JS-->
{{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
<!-- Core theme JS-->
{{ $script := resources.Get "js/script.js" }}
<!-- Объединение и минификация скриптов -->
{{ $js := slice $jquery $owlcarousel $bootstrap $script | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
<!-- Внутри будет весь баннер + сохранение выбора + отложенная загрузка Метрики.-->
<script src="{{ `js/cookie-consent.js` | absURL }}" defer></script>
