<h2>Контактная информация</h2>
<p>
    <strong>Юридический адрес:</strong> 354068, Краснодарский край, г. Сочи, ул. Подгорная, д. 2, офис 17<br /><strong>ИНН:</strong> 2366037694<br /><strong>Телефон:</strong> +7 (918) 600-90-10<br /><strong>Email:</strong>
    <a href="mailto:energoeffect.sochi@yandex.ru">energoeffect.sochi@yandex.ru</a>
</p>
<p>Доверьте обслуживание вашего оборудования профессионалам! Мы обеспечим надёжную работу ваших приборов и поможем избежать непредвиденных простоев. Свяжитесь с нами прямо сейчас для получения консультации или оформления заявки на обслуживание.</p>
