<h2>Контактная информация</h2>
<dl class="row">
    <dt class="col-sm-3">Юридический адрес:</dt>
    <dd class="col-sm-9">354068, Краснодарский край, г. Сочи, ул. Подгорная, д. 2, офис 17</dd>
    <dt class="col-sm-3">ИНН:</dt>
    <dd class="col-sm-9">2366037694</dd>
    <dt class="col-sm-3">Телефон:</dt>
    <dd class="col-sm-9">+7 (918) 600-90-10</dd>
    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9"><a href="mailto:energoeffect.sochi@yandex.ru">energoeffect.sochi@yandex.ru</a></dd>
</dl>
<p>Доверьте обслуживание вашего оборудования профессионалам! Мы обеспечим надёжную работу ваших приборов и поможем избежать непредвиденных простоев. Свяжитесь с нами прямо сейчас для получения консультации или оформления заявки на обслуживание.</p>
