{{ if .IsHome }}
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "name": {{ .Site.Params.company_fullName }},
	  "alternateName": {{ .Site.Params.company_shortName }},
	  "legalName": {{ .Site.Params.company_fullName }},
	  "description": "{{ with .Description }}{{ . }}{{ else }}Проектирование, строительство, эксплуатация и обслуживание объектов энергетики.{{ end }}",
	  "url": {{ .Site.BaseURL }},
	  "logo": {{ "images/logoheader.webp" | absURL }},
	  "foundingDate": "2022-09-21",
	  "address": {
	    "@type": "PostalAddress",
	    "streetAddress": "{{ .Site.Params.addressLegal.Street }}",
	    "addressLocality": "{{ .Site.Params.addressLegal.City }}",
	    "addressRegion": "{{ .Site.Params.addressLegal.Region }}",
	    "postalCode": "{{ .Site.Params.addressLegal.PostalCode }}",
	    "addressCountry": "{{ .Site.Params.addressLegal.CountryCode }}"
	  },
	  "contactPoint": {
	    "@type": "ContactPoint",
	    "telephone": {{ .Site.Params.company_phone02_schema }},
	    "email": {{ .Site.Params.company_emailMain }},
	    "contactType": "customer service"
	  },
	  "sameAs": [
	    "https://t.me/EnergoEffectSochi"
	  ]
	}
</script>
{{ end }}
